{% load static %}
<style>
  .fondo{
    background-color:rgba(69, 69, 70, 0.69);
  }
</style>


<nav class="navbar navbar-expand-lg navbar-dark fondo fixed-top w-100">
  <div class="container-fluid ">
    <a class="navbar-brand fw-bold fst-italic" href="/">ViVi cookies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-none">
          <a class="nav-link" href="{% url 'blog:posts' %}">Posts</a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link fw-bold fst-italic" href="{% url 'blog:dashboard_forms' %}">Panel de Administración</a>
        </li>
        {% endif %}
        
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link fw-bold fst-italic" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
        
        
      </ul>
    </div>
  </div>
</nav>